<div class="form-group col-lg-2 removeGroup">
	<select class="formChange form-control select_controller" onchange="formChange(this);">
		<option value = "item_form">Item</option>
		<option value = "hour_form">Hour</option>
		<option value = "travel_form">Travel</option>
		<option value = "requisition_form">Requisition</option>
	</select>
</div>