<div class="dashhead">
  <%= render partial: "partial/header", locals: { header: "New Hour" } %>
  <div class="dashhead-toolbar">
    <a href="<%= hours_path %>" class="btn btn-primary">Back</a>
  </div>
</div>
<hr class="m-t">

<%= render 'form', customer: @hour %>
