<div class="dashhead">
  <%= render partial: "partial/header", locals: { header: "Editing User" } %>
  <div class="dashhead-toolbar">
    <a href="<%= user_path(@user) %>" class="btn btn-primary">Show</a>
    <a href="<%= users_path %>" class="btn btn-primary">Back</a>
  </div>
</div>

<%= render 'form'%>